@import url("https://fonts.googleapis.com/css?family=Unbounded");

:root {
  --primary-bg: #1a1a1a;
  --primary-font: #faf8ff;
  --primary-highlight: #8685ef;
  --primary-highlight-opposite: #00a97f;
  --shadow-color: rgba(255, 255, 255, 0.5);
  --transparentBg: #1a1a1abb;
  --primary-tint: #d3d8e4;
  // constant
  --paddingLeft: 120px;
}

[data-theme="light"] {
  --primary-bg: #faf8ff;
  --primary-font: #1a1a1a;
  --primary-highlight: #00a97f;
  --primary-highlight-opposite: #8685ef;
  --transparentBg: #faf8ffbb;
  --shadow-color: rgba(0, 0, 0, 0.8);
  --primary-tint: #4f5a61;
}

div {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 16px 2px var(--shadow-color);
  }
  100% {
    box-shadow: 0px 0px 23px 4px var(--shadow-color);
  }
  // 100% {
  //   box-shadow: -1px 1px 16px 2px var(--shadow-color);
  // }
}
.theme-button {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(40%) translateY(-40%);

  background-color: var(--primary-font);

  box-shadow: -1px 1px 16px 2px var(--shadow-color);

  z-index: 4;

  animation: glow 0.65s alternate infinite;

  cursor: pointer;

  &:hover {
    width: 55px;
    height: 55px;
  }
}

.theme-button:active {
  width: 300vw;
  height: 300vh;
}

.container {
  position: fixed;

  width: 100vw;
  height: 100vh;

  // background-color: var(--primary-bg);
  color: var(--primary-font);

  font-family: Unbounded;

  z-index: 2;

  overflow: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  user-select: none;
}
/* Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

.three-canvas {
  height: 100vh;
  background-color: var(--primary-bg);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  :root {
    --paddingLeft: 40px;
  }
}
