@import url("https://fonts.googleapis.com/css?family=Unbounded");

:root {
  --primary-bg: #1a1a1a;
  --primary-font: #faf8ff;
  --primary-highlight: #8685ef;
  --shadow-color: rgba(255, 255, 255, 0.3);
}

[data-theme="light"] {
  --primary-bg: #faf8ff;
  --primary-font: #1a1a1a;
  --primary-highlight: #00754b;
  --shadow-color: rgba(0, 0, 0, 0.6);
}

div {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.container {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: var(--primary-bg);
  color: var(--primary-font);

  font-family: Unbounded;

  display: flex;
  flex-direction: column;

  padding: 2% 5%;

  z-index: 2;
}

.navbar {
  font-size: 20px;

  height: 8%;

  display: flex;
  flex-direction: row;

  color: var(--primary-highlight);

  & > div {
    // left and right
    display: flex;
    width: 100%;
  }

  &-right {
    width: 50%;
    justify-content: space-evenly;
  }
}

.theme-button {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(40%) translateY(-40%);

  background-color: var(--primary-font);

  box-shadow: -1px 1px 16px 2px var(--shadow-color);

  z-index: 1;
}

.theme-button:active {
  width: 300vw;
  height: 300vh;
}

.intro {
  height: 92%;

  display: flex;

  border-left: 1px solid var(--primary-font);

  &-left {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      padding-top: 5%;
    }
  }

  &-right {
    width: 50%;
  }
}

.hello-world {
  font-size: 42px;
}

.intro-bio {
  font-size: 28px;
  margin-top: 25px;
}

.big-ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.write-animation-text {
  height: 100%;
  &-caret {
    margin-left: 5px;

    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;

    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
  }
}
