.projects {
  padding: 15px var(--paddingLeft) 10px var(--paddingLeft);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5%;
  grid-template-areas:
    "project-1 project-1 project-1 project-1"
    "project-2 project-2 project-4 project-4"
    "project-3 project-3 project-4 project-4";

  height: 90vh;
}

.projectItem {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0px;
  transition: 0.7s;
  box-shadow: 0px 0px 4px 1px var(--shadow-color);

  cursor: pointer;

  &Details {
    width: 100%;
    min-height: 100%;
    height: max-content;
    background-color: var(--transparentBg);
    padding: 2%;
    opacity: 0;
    display: flex;
    justify-content: space-between;

    letter-spacing: 0.8px;
    word-spacing: 1px;

    &:hover {
      border-radius: 13px;
    }
  }

  &:hover {
    border: none;
    box-shadow: none;
    border-radius: 13px;
    box-shadow: 0px 0px 16px 2px var(--shadow-color);
  }

  &Content {
    width: 50%;
  }

  &Links {
    color: var(--primary-highlight);
    display: flex;
    flex-direction: column;
    & > a {
      color: var(--primary-highlight);
      display: block;
      margin-bottom: 5px;
    }
  }
}

.show {
  opacity: 1;
}

.project-1 {
  grid-area: project-1;
  background-image: url("/boid.png");
  &:hover {
    background-image: url("/boid.gif");
  }
}
.project-2 {
  grid-area: project-2;
  background-image: url("/vieu.png");
  &:hover {
    background-image: url("https://user-images.githubusercontent.com/42416647/103297603-a5703280-4a1e-11eb-9968-abd6ffc8e534.gif");
  }
}
.project-3 {
  grid-area: project-3;
  background-image: url("/conway.png");
  &:hover {
    background-image: url("/conway.gif");
  }
}
.project-4 {
  grid-area: project-4;
  background-image: url("/graphene.png");
  &:hover {
    background-image: url("/graphene.gif");
  }
}
.sections {
  display: flex;
  flex-direction: column;
}

.sections-wrapper {
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 100vw;

  overflow: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sections-wrapper::-webkit-scrollbar {
  display: none;
}
.about,
.contact {
  height: 90vh;
}

.intro {
  position: relative;
  top: -10vh;
  height: 100vh;
  display: flex;
  padding-left: var(--paddingLeft);

  &Left,
  &Right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &LeftWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 2px solid var(--primary-font);
    padding: 15% 10%;
  }

  &Bio {
    font-size: 28px;
    margin-top: 25px;
  }
}

.helloWorld {
  font-size: 42px;
}

.about {
  width: 55%;

  height: 90vh;

  display: flex;
  flex-direction: column;

  padding: 0px var(--paddingLeft);
  padding-top: 30px;

  letter-spacing: 0.8px;
  word-spacing: 1px;

  & > .aboutHeading {
    font-size: 32px;
  }

  & .currentStatus {
    border: 1px solid var(--primary-highlight);
    border-radius: 13px;
    padding: 13px;
    margin-top: 40px;

    & p:first-child {
      margin-bottom: 10px;
    }

    & .connect {
      color: #ff00ff;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.job {
  margin-top: 20px;

  background-color: var(--transparentBg);

  display: flex;
  flex-direction: column;
  &Item {
    border-radius: 13px;
    margin-top: 4%;

    display: flex;
    flex-direction: column;

    & .companyTitle {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      & > span {
        display: block;
      }
    }
    & .jobCompany {
      font-size: 28px;
      color: var(--primary-highlight);
    }
    & .jobTitle {
      font-size: 16px;
      line-height: 20px;
      color: var(--primary-font);
      margin-left: 10px;
    }
    & .jobDates {
      margin-top: 5px;
      font-size: 13px;
      color: var(--primary-tint);
      display: flex;
      & > span {
        display: inline-block;
        margin-right: 5px;
      }
    }
    & .desc {
      margin-top: 10px;
    }
  }
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 28px;
  &Container {
    position: relative;
    top: -10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & a {
      color: var(--primary-font);
      margin-bottom: 10px;
      &:hover {
        color: var(--primary-highlight);
      }
    }
  }
}
.popup {
  color: green;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .introLeft {
    width: 100%;
    & * {
      font-size: 5vh;
    }
  }

  .projects {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px var(--paddingLeft) 100px var(--paddingLeft);
  }

  .projectItem {
    font-size: 10px;
    margin-top: 20px;
    height: 20vh;
    overflow: scroll;
  }
  .about {
    height: max-content;
    padding: 0px var(--paddingLeft);
    min-height: 90vh;
    width: 100%;
  }

  .job .companyTitle {
    flex-direction: column;
    align-items: flex-start;
    & .jobTitle {
      margin: 0px;
    }
  }
}
